@import '../user-management/list/list.component.scss';
p.font-medium-1.line-height-1.mb-0 {
  overflow-wrap: anywhere;
}

.ng-select.ng-select-single .ng-select-container {
  height: 36px;
  width: 320px;
}
.pac-container{
  z-index: 1111;
}
