<!-- Filter Datatables -->
<section id="ngx-datatable-filter">
  <div class="row">
    <div class="col-12"></div>
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <!-- ngx-datatable-filter -->
            <fieldset class="form-group">
              <div class="row align-items-end mt-0 pagination-body">
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-2">
                  <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="40"
                  [footerHeight]="40" rowHeight="auto" [limit]="limitRef" [rows]="rows" [externalPaging]="true"
                  [count]="page.totalPages" [offset]="page.pageNumber" (page)="pageChangeData($event)"></ngx-datatable>
                </div>

                <div class="col-12 col-sm-12 col-md-9 col-lg-9 mt-2 mb-1">
                  <div class="row-flex">
                    <div class="col-flex-2 filter">
                    </div>
                    <div class="col-flex-2 mb-1 position-relative">
                      <input id="ngx-filter-ref"
                        class="form-control form-control-sm d-inline-block width-300 ml-1 rounded-right shadow searchInput"
                        type="text" placeholder="Search" #name />
                      <button class="btn search-btn glow position-absolute">
                        <i class="ft-search text-white cursor-pointer"></i>
                      </button>
                    </div>
                    <div class="col-flex-2 mb-1">
                      <button class="btn btn-primary btn-block users-list-clear glow mb-0" (click)="resetFilter()">
                        Reset
                        <i class="ft-filter text-white cursor-pointer"></i>
                      </button>
                    </div>
                    <!-- <div class="col-flex-2 mb-1">
                      <button type="reset" class="btn btn-primary btn-block users-list-clear glow mb-0"
                      (click)="openModal(myModalContent,'','')" placement="top" ngbTooltip="Add New">
                        +
                      </button>
                    </div> -->
                  </div>
                </div>
              </div>
            </fieldset>
            <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50"
              [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows" [scrollbarH]="true"
              [columns]="columns" [externalPaging]="true" [count]="page.totalPages" [offset]="page.offset"
              (page)="pageChangeData($event)">
              <ngx-datatable-column name="Name" prop="fullname" [width]="60">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="d-flex align-items-center">
                    <div *ngIf="!row.image" class="avatar mr-1 ml-0 bg-primary">
                      <div class="avatar-content">
                          {{ row?.fullname| shortName }}
                      </div>
                    </div>
                    <div class="cell-line-height cursor-pointer">
                      <p class="font-medium-1 line-height-1 mb-0">
                        {{ row?.fullname }}
                      </p>

                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Email" prop="email" [width]="70">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="cell-line-height">
                    {{ row?.email}}
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Phone" prop="phone_number" [width]="30">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="cell-line-height">
                    {{ row?.phone_number}}
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Address" prop="address" [width]="70">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="cell-line-height">
                    {{ row?.address}}
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" [width]="10">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <i class="ft-eye text-primary cursor-pointer mr-2"
                  (click)="openModal(myModalContent,row)"></i>
                  <!-- <i class="ft-trash-2 cursor-pointer danger"
                    (click)="ConfirmColor(row._id)"></i> -->
                </ng-template>=
                              </ngx-datatable-column>
            </ngx-datatable>
            <!-- ngx-datatable-filter -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Filter Datatables -->
<div class="d-flex justify-content-between align-items-center">
  <ngx-spinner></ngx-spinner>
</div>

<!----- Providers Details Popup  --------->

<div>
	<ng-template #myModalContent>
	  <div class="modal-header">
		<h4 class="modal-title" >{{row_data?.fullname}}'s Details</h4>
		<button type="button" class="close" aria-label="Close" (click)="modalService.dismissAll()">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
         <table>
          <div>
            <th>Name &nbsp;</th>
            <td>{{row_data?.fullname}}</td>
          </div>
          <div>
            <th>Email &nbsp;</th>
            <td>{{row_data?.email}}</td>
          </div>
          <div>
            <th>Phone &nbsp;</th>
            <td>{{row_data?.phone_number}}</td>
          </div>
          <div>
            <th>Address &nbsp;</th>
            <td>{{row_data?.address}}</td>
          </div>
          <div>
            <th>Google Reviews URL &nbsp;</th>
            <td>{{row_data?.googleReviewsURL}}</td>
          </div>
          <div>
            <th>Number Of Google Reviews &nbsp;</th>
            <td>{{row_data?.numberOfGoogleReviews}}</td>
          </div>
          <div>
            <th>Average Google Rating &nbsp;</th>
            <td>{{row_data?.averageGoogleRating}}</td>
          </div>
          <div>
            <th>Top Google Reviews &nbsp;</th>
            <td *ngIf="row_data?.topGoogleReviews">
              <div *ngFor="let item of row_data?.topGoogleReviews[0]">
                <div>
                  <td id="box-width"> <b>Rating :</b> {{item?.rating}}</td>
                </div>
                <div>
                  <td> <b>Text :</b> {{item?.text}}</td>
                </div>
              </div></td>
          </div>
          <div>
            <th>Bottom Google Reviews &nbsp;</th>
            <td *ngIf="row_data?.bottomGoogleReviews">
              <div *ngFor="let item of row_data?.bottomGoogleReviews[0]">
                <div>
                  <td id="box-width"> <b>Rating :</b> {{item?.rating}}</td>
                </div>
                <div>
                  <td> <b>Text :</b> {{item?.text}}</td>
                </div>

              </div>
            </td>
          </div>
          <div>
            <th>Most Recent Google Reviews &nbsp;</th>
            <td *ngIf="row_data?.mostRecentGoogleReviews">
              <div *ngFor="let item of row_data?.mostRecentGoogleReviews">
                <div>
                  <td id="box-width"> <b>Rating :</b> {{item?.rating}}</td>
                </div>
                <div>
                  <td> <b>Text :</b> {{item?.text}}</td>
                </div>
              </div>
            </td>
          </div>
          <div>
            <th>Facebook URL &nbsp;</th>
            <td>{{row_data?.facebookURL}}</td>
          </div>
          <div>
            <th>Facebook Number Of Followers &nbsp;</th>
            <td>{{row_data?.facebookNumberOfFollowers}}</td>
          </div>
          <div>
            <th>Facebook Number Of Likes &nbsp;</th>
            <td>{{row_data?.facebookNumberOfLikes}}</td>
          </div>
          <div>
            <th>Yelp Profile URL &nbsp;</th>
            <td>{{row_data?.yelpProfileURL}}</td>
          </div>
          <div>
            <th>Number Of Yelp Ratings &nbsp;</th>
            <td>{{row_data?.numberOfYelpRatings}}</td>
          </div>
          <div>
            <th>Average Yelp Rating &nbsp;</th>
            <td>{{row_data?.averageYelpRating}}</td>
          </div>
          <div>
            <th>Yelp Top Reviews &nbsp;</th>
            <td *ngIf="row_data?.yelpTopReviews">
              <div *ngFor="let item of row_data?.yelpTopReviews[0]">
                <div>
                  <td id="box-width"> <b>Rating :</b> {{item?.rating}}</td>
                </div>
                <div>
                  <td> <b>Text :</b> {{item?.text}}</td>
                </div>
              </div>
            </td>

          </div>
          <div>
            <th>Yelp Bottom Reviews &nbsp;</th>
            <td *ngIf="row_data?.yelpBottomReviews">
              <div *ngFor="let item of row_data?.yelpBottomReviews[0]">
                <div>
                  <td id="box-width"> <b>Rating :</b> {{item?.rating}}</td>
                </div>
                <div>
                  <td> <b>Text :</b> {{item?.text}}</td>
                </div>
              </div>
            </td>
          </div>
          <div>
            <th>Yelp Most Recent Reviews &nbsp;</th>
            <td *ngIf="row_data?.yelpMostRecentReviews">
              <div *ngFor="let item of row_data?.yelpMostRecentReviews[0]">
                <div>
                  <td id="box-width"> <b>Rating :</b> {{item?.rating}}</td>
                </div>
                <div>
                  <td> <b>Text :</b> {{item?.text}}</td>
                </div>
              </div>
            </td>
          </div>
          <div>
            <th>Instagram Profile Link &nbsp;</th>
            <td>{{row_data?.instagramProfileLink}}</td>
          </div>
          <div>
            <th>Number Of Instagram Followers &nbsp;</th>
            <td>{{row_data?.numberOfInstagramFollowers}}</td>
          </div>
         </table>

	  </div>
	  <!-- <div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modalService.dismissAll()">Close</button>
		<button type="button" class="btn btn-primary" (click)="addCity()">Submit</button>
	  </div> -->
	</ng-template>
</div>
