<!-- Filter Datatables -->
<section id="ngx-datatable-filter">
  <div class="row">
    <div class="col-12"></div>
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <!-- ngx-datatable-filter -->
            <fieldset class="form-group">
              <div class="row align-items-end mt-0 pagination-body">
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-2">
                  <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="40"
                  [footerHeight]="40" rowHeight="auto" [limit]="limitRef" [rows]="rows" [externalPaging]="true"
                  [count]="page.totalPages" [offset]="page.pageNumber" (page)="pageChangeData($event)"></ngx-datatable>
                </div>

                <div class="col-12 col-sm-12 col-md-9 col-lg-9 mt-2 mb-1">
                  <div class="row-flex">
                    <div class="col-flex-2 filter">
                    </div>
                    <div class="col-flex-2 mb-1 position-relative">
                      <input id="ngx-filter-ref"
                        class="form-control form-control-sm d-inline-block width-300 ml-1 rounded-right shadow searchInput"
                        type="text" placeholder="Search" #name />
                      <button class="btn search-btn glow position-absolute">
                        <i class="ft-search text-white cursor-pointer"></i>
                      </button>
                    </div>
                    <div class="col-flex-2 mb-1">
                      <button class="btn btn-primary btn-block users-list-clear glow mb-0" (click)="resetFilter()">
                        Reset
                        <i class="ft-filter text-white cursor-pointer"></i>
                      </button>
                    </div>
                    <!-- <div class="col-flex-2 mb-1">
                      <button type="reset" class="btn btn-primary btn-block users-list-clear glow mb-0"
                      (click)="openModal(myModalContent,'','')" placement="top" ngbTooltip="Add New">
                        +
                      </button>
                    </div> -->
                  </div>
                </div>
              </div>
            </fieldset>
            <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50"
              [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows" [scrollbarH]="true"
              [columns]="columns" [externalPaging]="true" [count]="page.totalPages" [offset]="page.offset"
              (page)="pageChangeData($event)">
              <ngx-datatable-column name="Name" prop="fullname" [width]="60">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="d-flex align-items-center">
                    <div *ngIf="!row.image" class="avatar mr-1 ml-0 bg-primary">
                      <div class="avatar-content">
                          {{ row?.fullname| shortName }}
                      </div>
                    </div>
                    <div class="cell-line-height cursor-pointer">
                      <p class="font-medium-1 line-height-1 mb-0">
                        {{ row?.fullname }}
                      </p>

                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Email" prop="email" [width]="70">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="cell-line-height">
                    {{ row?.email}}
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Phone" prop="phone_number" [width]="30">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="cell-line-height">
                    {{ row?.phone_number}}
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Address" prop="address" [width]="70">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="cell-line-height">
                    {{ row?.address}}
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" [width]="10">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <i class="ft-eye text-primary cursor-pointer mx-1"
                  (click)="openModal(myModalContent,row)"></i>
                  <i class="ft-plus text-primary cursor-pointer mx-1"
                  (click)="openModalForProvider(myModalContentProvider,row?._id,row)"></i>
                  <i class="ft-edit text-primary cursor-pointer mx-1"
                  (click)="openModal(myModalContent,row)"></i>
                  <i class="ft-plus text-primary cursor-pointer mx-1"
                  (click)="goToPrograms(row)"></i>
                  <!-- <i class="ft-trash-2 cursor-pointer danger"
                    (click)="ConfirmColor(row._id)"></i> -->
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <!-- ngx-datatable-filter -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Filter Datatables -->
<div class="d-flex justify-content-between align-items-center">
  <ngx-spinner></ngx-spinner>
</div>

<!----- Providers Details Popup  --------->

<div>
	<ng-template #myModalContent>
	  <div class="modal-header">
		<h4 class="modal-title" >{{row_data?.fullname}}'s Details</h4>
		<button type="button" class="close" aria-label="Close" (click)="modalService.dismissAll()">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
         <table>
          <div>
            <th>Name &nbsp;</th>
            <td>{{row_data?.fullname}}</td>
          </div>
          <div>
            <th>Email &nbsp;</th>
            <td>{{row_data?.email}}</td>
          </div>
          <div>
            <th>Phone &nbsp;</th>
            <td>{{row_data?.phone_number}}</td>
          </div>
          <div>
            <th>Address &nbsp;</th>
            <td>{{row_data?.address}}</td>
          </div>
          <!-- <div>
            <th>Google Reviews URL &nbsp;</th>
            <td>{{row_data?.googleReviewsURL}}</td>
          </div>
          <div>
            <th>Number Of Google Reviews &nbsp;</th>
            <td>{{row_data?.numberOfGoogleReviews}}</td>
          </div>
          <div>
            <th>Average Google Rating &nbsp;</th>
            <td>{{row_data?.averageGoogleRating}}</td>
          </div>
          <div>
            <th>Top Google Reviews &nbsp;</th>
            <td *ngIf="row_data?.topGoogleReviews">
              <div *ngFor="let item of row_data?.topGoogleReviews[0]">
                <div>
                  <td id="box-width"> <b>Rating :</b> {{item?.rating}}</td>
                </div>
                <div>
                  <td> <b>Text :</b> {{item?.text}}</td>
                </div>
              </div></td>
          </div>
          <div>
            <th>Bottom Google Reviews &nbsp;</th>
            <td *ngIf="row_data?.bottomGoogleReviews">
              <div *ngFor="let item of row_data?.bottomGoogleReviews[0]">
                <div>
                  <td id="box-width"> <b>Rating :</b> {{item?.rating}}</td>
                </div>
                <div>
                  <td> <b>Text :</b> {{item?.text}}</td>
                </div>

              </div>
            </td>
          </div>
          <div>
            <th>Most Recent Google Reviews &nbsp;</th>
            <td *ngIf="row_data?.mostRecentGoogleReviews">
              <div *ngFor="let item of row_data?.mostRecentGoogleReviews">
                <div>
                  <td id="box-width"> <b>Rating :</b> {{item?.rating}}</td>
                </div>
                <div>
                  <td> <b>Text :</b> {{item?.text}}</td>
                </div>
              </div>
            </td>
          </div>
          <div>
            <th>Facebook URL &nbsp;</th>
            <td>{{row_data?.facebookURL}}</td>
          </div>
          <div>
            <th>Facebook Number Of Followers &nbsp;</th>
            <td>{{row_data?.facebookNumberOfFollowers}}</td>
          </div>
          <div>
            <th>Facebook Number Of Likes &nbsp;</th>
            <td>{{row_data?.facebookNumberOfLikes}}</td>
          </div>
          <div>
            <th>Yelp Profile URL &nbsp;</th>
            <td>{{row_data?.yelpProfileURL}}</td>
          </div>
          <div>
            <th>Number Of Yelp Ratings &nbsp;</th>
            <td>{{row_data?.numberOfYelpRatings}}</td>
          </div>
          <div>
            <th>Average Yelp Rating &nbsp;</th>
            <td>{{row_data?.averageYelpRating}}</td>
          </div>
          <div>
            <th>Yelp Top Reviews &nbsp;</th>
            <td *ngIf="row_data?.yelpTopReviews">
              <div *ngFor="let item of row_data?.yelpTopReviews[0]">
                <div>
                  <td id="box-width"> <b>Rating :</b> {{item?.rating}}</td>
                </div>
                <div>
                  <td> <b>Text :</b> {{item?.text}}</td>
                </div>
              </div>
            </td>

          </div>
          <div>
            <th>Yelp Bottom Reviews &nbsp;</th>
            <td *ngIf="row_data?.yelpBottomReviews">
              <div *ngFor="let item of row_data?.yelpBottomReviews[0]">
                <div>
                  <td id="box-width"> <b>Rating :</b> {{item?.rating}}</td>
                </div>
                <div>
                  <td> <b>Text :</b> {{item?.text}}</td>
                </div>
              </div>
            </td>
          </div>
          <div>
            <th>Yelp Most Recent Reviews &nbsp;</th>
            <td *ngIf="row_data?.yelpMostRecentReviews">
              <div *ngFor="let item of row_data?.yelpMostRecentReviews[0]">
                <div>
                  <td id="box-width"> <b>Rating :</b> {{item?.rating}}</td>
                </div>
                <div>
                  <td> <b>Text :</b> {{item?.text}}</td>
                </div>
              </div>
            </td>
          </div>
          <div>
            <th>Instagram Profile Link &nbsp;</th>
            <td>{{row_data?.instagramProfileLink}}</td>
          </div>
          <div>
            <th>Number Of Instagram Followers &nbsp;</th>
            <td>{{row_data?.numberOfInstagramFollowers}}</td>
          </div> -->
         </table>

	  </div>
	  <!-- <div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modalService.dismissAll()">Close</button>
		<button type="button" class="btn btn-primary" (click)="addCity()">Submit</button>
	  </div> -->
	</ng-template>
</div>

<!-- =======================  provider info ===================================== -->
<div>
	<ng-template #myModalContentProvider>
	  <div class="modal-header">
    <h4 class="modal-title">Add Provider</h4>
		<button type="button" class="close" aria-label="Close" (click)="closeModal()">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
            <fieldset class="form-group">
              <label>Name</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.fullname"
                id="name"
                placeholder="Enter name"
                [ngClass]="{
                  'is-invalid': !provider.fullname,
                  'is-valid': provider.fullname
                }"
                required
                #name
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Email</label>
              <input
                type="email"
                class="form-control"
                 [(ngModel)]="provider.email"
                id="email"
                placeholder="Enter email"
                [ngClass]="{
                  'is-invalid': !provider.email,
                  'is-valid': provider.email
                }"
                required
                #email
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Phone number</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.phone_number"
                id="phone_number"
                placeholder="Enter phone"
                [ngClass]="{
                  'is-invalid': !provider.phone_number,
                  'is-valid': provider.phone_number
                }"
                required
                #phone_number
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Address</label>
              <input
                type="text"
                class="form-control"
                appGoogleAddress
                autocomplete="off"
                (onSelect)="setAddress($event)"
                 [(ngModel)]="provider.address"
                id="address"
                placeholder="Enter address"
                [ngClass]="{
                  'is-invalid': !provider.address,
                  'is-valid': provider.address
                }"
                required
                #address
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Average Google Rating</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.averageGoogleRating"
                id="averageGoogleRating"
                placeholder="Enter Average Google Rating"
                [ngClass]="{
                  'is-invalid': !provider.averageGoogleRating,
                  'is-valid': provider.averageGoogleRating
                }"
                required
                #averageGoogleRating
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Average Yelp Rating</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.averageYelpRating"
                id="averageYelpRating"
                placeholder="Enter Average Yelp Rating"
                [ngClass]="{
                  'is-invalid': !provider.averageYelpRating,
                  'is-valid': provider.averageYelpRating
                }"
                required
                #averageYelpRating
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Bottom Google Reviews</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.bottomGoogleReviews"
                id="bottomGoogleReviews"
                placeholder="Enter Bottom Google Reviews"
                [ngClass]="{
                  'is-invalid': !provider.bottomGoogleReviews,
                  'is-valid': provider.bottomGoogleReviews
                }"
                required
                #bottomGoogleReviews
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Facebook Number Of Followers</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.facebookNumberOfFollowers"
                id="facebookNumberOfFollowers"
                placeholder="Enter Facebook Number Of Followers"
                [ngClass]="{
                  'is-invalid': !provider.facebookNumberOfFollowers,
                  'is-valid': provider.facebookNumberOfFollowers
                }"
                required
                #facebookNumberOfFollowers
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Facebook Number Of Likes</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.facebookNumberOfLikes"
                id="facebookNumberOfLikes"
                placeholder="Enter Facebook Number Of Likes"
                [ngClass]="{
                  'is-invalid': !provider.facebookNumberOfLikes,
                  'is-valid': provider.facebookNumberOfLikes
                }"
                required
                #facebookNumberOfLikes
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Facebook URL</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.facebookURL"
                id="facebookURL"
                placeholder="Enter Facebook URL"
                [ngClass]="{
                  'is-invalid': !provider.facebookURL,
                  'is-valid': provider.facebookURL
                }"
                required
                #facebookURL
              />
            </fieldset>

            <fieldset class="form-group">
              <label>Google Reviews URL</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.googleReviewsURL"
                id="googleReviewsURL"
                placeholder="Enter Google Reviews URL"
                [ngClass]="{
                  'is-invalid': !provider.googleReviewsURL,
                  'is-valid': provider.googleReviewsURL
                }"
                required
                #googleReviewsURL
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Instagram Profile Link</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.instagramProfileLink"
                id="instagramProfileLink"
                placeholder="Enter Instagram Profile Link"
                [ngClass]="{
                  'is-invalid': !provider.instagramProfileLink,
                  'is-valid': provider.instagramProfileLink
                }"
                required
                #instagramProfileLink
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Most Recent Google Reviews</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.mostRecentGoogleReviews"
                id="mostRecentGoogleReviews"
                placeholder="Enter Most Recent Google Reviews"
                [ngClass]="{
                  'is-invalid': !provider.mostRecentGoogleReviews,
                  'is-valid': provider.mostRecentGoogleReviews
                }"
                required
                #mostRecentGoogleReviews
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Number Of Google Reviews</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.numberOfGoogleReviews"
                id="numberOfGoogleReviews"
                placeholder="Enter Number Of Google Reviews"
                [ngClass]="{
                  'is-invalid': !provider.numberOfGoogleReviews,
                  'is-valid': provider.numberOfGoogleReviews
                }"
                required
                #numberOfGoogleReviews
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Number Of Instagram Followers</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.numberOfInstagramFollowers"
                id="numberOfInstagramFollowers"
                placeholder="Enter Number Of Instagram Followers"
                [ngClass]="{
                  'is-invalid': !provider.numberOfInstagramFollowers,
                  'is-valid': provider.numberOfInstagramFollowers
                }"
                required
                #numberOfInstagramFollowers
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Number Of Yelp Ratings</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.numberOfYelpRatings"
                id="numberOfYelpRatings"
                placeholder="Enter Number Of Yelp Ratings"
                [ngClass]="{
                  'is-invalid': !provider.numberOfYelpRatings,
                  'is-valid': provider.numberOfYelpRatings
                }"
                required
                #numberOfYelpRatings
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Top Google Reviews</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.topGoogleReviews"
                id="topGoogleReviews"
                placeholder="Enter Top Google Reviews"
                [ngClass]="{
                  'is-invalid': !provider.topGoogleReviews,
                  'is-valid': provider.topGoogleReviews
                }"
                required
                #topGoogleReviews
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Yelp Bottom Reviews</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.yelpBottomReviews"
                id="yelpBottomReviews"
                placeholder="Enter Yelp Bottom Reviews"
                [ngClass]="{
                  'is-invalid': !provider.yelpBottomReviews,
                  'is-valid': provider.yelpBottomReviews
                }"
                required
                #yelpBottomReviews
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Yelp Most Recent Reviews</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.yelpMostRecentReviews"
                id="yelpMostRecentReviews"
                placeholder="Enter Yelp Most Recent Reviews"
                [ngClass]="{
                  'is-invalid': !provider.yelpMostRecentReviews,
                  'is-valid': provider.yelpMostRecentReviews
                }"
                required
                #yelpMostRecentReviews
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Yelp Top Reviews</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.yelpTopReviews"
                id="yelpTopReviews"
                placeholder="Enter Yelp Top Reviews"
                [ngClass]="{
                  'is-invalid': !provider.yelpTopReviews,
                  'is-valid': provider.yelpTopReviews
                }"
                required
                #yelpTopReviews
              />
            </fieldset>
            <fieldset class="form-group">
              <label>Yelp Profile URL</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.yelpProfileURL"
                id="yelpProfileURL"
                placeholder="Enter Yelp Profile URL"
                [ngClass]="{
                  'is-invalid': !provider.yelpProfileURL,
                  'is-valid': provider.yelpProfileURL
                }"
                required
                #yelpProfileURL
              />
            </fieldset>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
		<button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
	  </div>
	</ng-template>
</div>
