
@import '../../../../../../assets/sass/libs/select.scss';
.alert-light-warning {
  background-color: #FEEFD0 !important;
  color: #F77E17 !important;
  border-color: #FEEFD0;
}
.form-group.pricing {
  border: 1px solid #E0E0E0;
  padding: 16px;
  border-radius: 7px;
}
/* start age 24month field css */
button.btn-24month {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 18px;text-align: center;letter-spacing: 0.02em;text-transform: lowercase;color: #494949;background: #FFFFFF;border: 1px solid #EBEBEB;border-radius: 2px;width: 100%;display: block;padding: 5px 5px;margin-bottom: 15px;}
.btns-month-cnt, .btns-age-number-cnt {margin: auto;display: flex;position: relative;flex-flow: row wrap;column-gap: 10px;}
button.btn-age-month {flex: 1;width: 100%;height: 30px;margin-bottom: 10px;max-width: 143px;min-width: 100px;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 18px;text-align: center;letter-spacing: 0.02em;text-transform: lowercase;color: #494949;border: 1px solid #EBEBEB;border-radius: 2px;background-color: #fff;}
button.btn-age-month:hover, button.btn-age-month.active,
button.btn-age-number:hover, button.btn-age-number.active {background-color: #53B2E8;color: #fff !important;}
button.btn-age-number {flex: 1;height: 30px;margin-bottom: 10px;max-width: 54px;min-width: 50px;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 18px;text-align: center;letter-spacing: 0.02em;text-transform: lowercase;color: #494949;border: 1px solid #EBEBEB;border-radius: 2px;background-color: #fff;}
/* end age 24month field css */
.prog_detail_pricing_wrap {
  padding: 36px 0 30px 0;
  border-bottom: 1px solid #ebebeb;
}
.pricing_wrap_details_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #ebebeb;
  padding: 4px 0;
}
.pricing_wrap_details_row:last-child {
  border-bottom: none;
}
.prog_detail_pricing_wrap .main_heading {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: justified;
  color: #494949;
  padding-bottom: 18px;
}
.pricing_wrap_details_row h6 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #494949;
}
.pricing_wrap_details_row p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #494949;
}
.pricing_wrap_details_row p span {
  color: #b3b3b3;
}
.organize_para p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.001em;
  text-align: justified;
  color: #828282;
}
.section_for_description h2 {
  font-size: 18px;
  margin-bottom: 16px;
}
/* .section_for_description {
  border-bottom: 1px solid #ebebeb !important;
} */
.prog_detail_box_border {
  padding: 20px;
  border: 1px solid #EBEBEB;
  border-radius: 20px;
  margin-bottom: 16px;
}  
.btn-add-price-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button.btn-add-price {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #53B2E8;
  border: 1px solid #53B2E8;
  border-radius: 20px;
  padding: 10px 24px 8px 24px;
  display: flex;
  -moz-column-gap: 8px;
  column-gap: 8px;
}
.ml-10px{
  margin-left: 10px;
}
.col-red {
  color: #e62421 !important;
}

ng-select.is-invalid-select {
  .ng-select-container{
      border-color: #e62421;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
  }
}
.card-body {
  padding: 0.5rem;
}
.align-items-end {
justify-content: end;
}

.form_label_input input {
  width: 50%;
  border: none;
}
.form_label_input i {
  color: black;
  font-weight: bold;
  margin-top: 12px;
}
.wrap_for_input {
  display: flex;
  padding: 0;
  margin-bottom: 10px;
}
.chips_container{
  // max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  position: absolute;
  top: 6px;
  padding-left: 4px;
}
.chips-input input{
  width: auto;
}
.chip {
  position: relative;
  background: rgba(128, 128, 128, 0.2705882353);
  border-radius: 24px;
  padding: 5px 20px 10px 10px;
  height: 25px;
  z-index: 3;
}
.chip p {
  font-size: 12px;
}
.chip i{
  position: absolute;
  right: 3px;
  top: -6px;
}
.min-height-50px {
  min-height: 15px;
}
.wrap_for_input.chips-input {
  position: relative;

}

.wrap_for_input.chips-input input  {
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 36px;
  align-items: center;
  padding: 5px;
  width: 100%;
  opacity: 0;
  z-index: 2;
}
.wrap_for_input.chips-input{
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.wrap_for_input.chips-input i.icon_calender{
  position: absolute;
  right: 10px;
  top: 0;
  color: #333;
  z-index: 1;
}
.wrap_for_input.chips-input input[type="date"]::-webkit-calendar-picker-indicator {
  /* display: none; */
  opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
}