<div class="row">
  <div class="col-12">
    <div class="content-header">Add Program</div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 mt-3">
    <ul class="nav flex-column nav-pills" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" href="javascript:;" [ngClass]="{active: activeTab === 'Program Info'}"
          (click)="setActiveTab('Program Info')" id="Program Info-tab" data-toggle="tab" role="tab" aria-controls="Program Info"
          aria-selected="true">
          <i class="ft-info mr-1 align-middle"></i>
          <span class="align-middle">Program Info</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:;" [ngClass]="{active: activeTab === 'Program Features'}"
          (click)="setActiveTab('Program Features')" id="Program Features-tab" data-toggle="tab" role="tab"
          aria-controls="Program Features" aria-selected="false">
          <i class="ft-settings mr-1 align-middle"></i>
          <span class="align-middle">Program Features</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:;" [ngClass]="{active: activeTab === 'Program Pricing'}"
          (click)="setActiveTab('Program Pricing')" id="Program Pricing-tab" data-toggle="tab" role="tab" aria-controls="Program Pricing"
          aria-selected="false">
          <i class="ft-dollar-sign mr-1 align-middle"></i>
          <span class="align-middle">Program Pricing</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:;" [ngClass]="{active: activeTab === 'Program Internal Use'}"
          (click)="setActiveTab('Program Internal Use')" id="Program Internal Use-tab" data-toggle="tab" role="tab"
          aria-controls="Program Internal Use" aria-selected="false">
          <i class="ft-slack mr-1 align-middle"></i>
          <span class="align-middle">Program Internal Use</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:;" [ngClass]="{active: activeTab === 'Activities'}"
          (click)="setActiveTab('Activities')" id="Activities-tab" data-toggle="tab" role="tab"
          aria-controls="Activities" aria-selected="false">
          <i class="ft-link mr-1 align-middle"></i>
          <span class="align-middle">Activities</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane" [ngClass]="{active: activeTab === 'Program Info'}" id="Program Info" role="tabpanel"
              aria-labelledby="Program Info-tab">
              <form [formGroup]="firstFormGroup" (ngSubmit)="onfirstFormGroupSubmit()">
                <div>
                  <h4>Program Info</h4>
                  <hr>
                </div>
                <div class="row">
                  <div class="col-12 form-group">
                    <label>Display Name</label>
                    <div class="controls">
                      <input type="text" formControlName="name" [(ngModel)]="program_model.name" class="form-control" placeholder="displayname"
                        [ngClass]="{ 'is-invalid': firstFormGroupSubmitted && gf.name.invalid, 'is-valid': firstFormGroupSubmitted && !gf.name.invalid }"
                        required>
                      <div *ngIf="firstFormGroupSubmitted && (gf.name.invalid || gf.name.errors?.required)"
                        class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
                        required</div>
                    </div>
                  </div>
                  <div class="col-12 form-group">
                    <label>Default Email</label>
                    <div class="controls">
                      <input type="text" formControlName="email" [(ngModel)]="program_model.emails"  class="form-control" placeholder="E-mail"
                        [ngClass]="{ 'is-invalid': firstFormGroupSubmitted && gf.email.invalid, 'is-valid': firstFormGroupSubmitted && !gf.email.invalid }"
                        required>
                      <div *ngIf="firstFormGroupSubmitted && (gf.email.invalid || gf.email.errors?.required)"
                        class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
                        required</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <ngb-alert type="light-warning" class="mb-2" *ngIf="alertVisible" (close)="alertVisible = false">
                      <p class="mb-0">Your email is not confirmed. Please check your inbox.</p>
                      <a href="javascript:;" class="font-weight-bold text-warning">Resend confirmation</a>
                    </ngb-alert>
                  </div>
                  <div class="col-12 form-group">
                    <label>Program Descripton</label>
                    <div class="controls">
                      <textarea name="description" id="description" cols="30" rows="3" formControlName="description" [(ngModel)]="program_model.description"  class="form-control" placeholder="Program Descripton" aria-invalid="false"
                      [ngClass]="{ 'is-invalid': firstFormGroupSubmitted && gf.description.invalid, 'is-valid': firstFormGroupSubmitted && !gf.description.invalid }"
                      required></textarea>
                      <div *ngIf="firstFormGroupSubmitted && (gf.description.invalid || gf.description.errors?.required)"
                        class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
                        required</div>
                    </div>
                  </div>
                  <div class="col-12 form-group">
                    <label>Category</label>
                    <div class="controls">
                      <ng-select
                        [items]="category_List"
                        bindLabel="name"
                        bindValue="_id"
                        placeholder="Select Category"
                        [(ngModel)]="program_model.categoryId"  
                        [ngModelOptions]="{standalone: true}"
                        (change)="getCategory($event)"
                        >
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-12 form-group">
                    <label>Sub Category</label>
                    <div class="controls">
                      <ng-select
                      [items]="category_List"
                      bindLabel="name"
                      bindValue="_id"
                      placeholder="Select Sub Category"
                      [(ngModel)]="program_model.subCategory"  
                      [ngModelOptions]="{standalone: true}"
                      (change)="getSubCategory($event)"
                      >
                    </ng-select>
                    </div>
                  </div>
                  <div class="col-12 form-group">
                    <label>Age Group</label>
                    <div class="controls">
                      <div class="row">
                        <div class="col">
                          <label>Age In Months</label>
                          <ng-select
                            [items]="months_List"
                            bindLabel="name"
                            bindValue="_id"
                            placeholder="Select Age Months"
                            [(ngModel)]="program_model.ageGroup.month"  
                            [ngModelOptions]="{standalone: true}"
                            (change)="getAgeMonth($event)"
                            >
                          </ng-select>
                        </div>
                        <div class="col">
                          <label>Age In Years</label>
                          <ng-select
                            [items]="years_List"
                            bindLabel="name"
                            bindValue="_id"
                            placeholder="Select Age Years"
                            [(ngModel)]="program_model.ageGroup.year"  
                            [ngModelOptions]="{standalone: true}"
                            (change)="getAgeYear($event)"
                            >
                          </ng-select>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  <div class="col-12 form-group">
                    <label>Skill Level</label>
                    <div class="controls">
                      <ng-select
                        [items]="category_List"
                        bindLabel="name"
                        bindValue="_id"
                        placeholder="Select Skill Level"
                        [(ngModel)]="program_model.skillGroup" 
                        [ngModelOptions]="{standalone: true}"
                        (change)="getSkillLevel($event)"
                        >
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-12 form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" (change)="getFreeTrial($event)" [(ngModel)]="program_model.isFreeTrial"  id="flexCheckDefault1" [ngModelOptions]="{standalone: true}">
                      <label class="form-check-label" for="flexCheckDefault1">
                        Does it have a Free Trial?
                      </label>
                    </div>
                  </div>
                  <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                    <button type="submit" class="btn btn-primary mr-sm-2 mb-1" (click)="setActiveTab('Program Features')">Next</button>
                  </div>
                </div>
              </form>
            </div>

            <div class="tab-pane" [ngClass]="{active: activeTab === 'Program Features'}" id="Program Features"
              role="tabpanel" aria-labelledby="Program Features-tab">
              <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordFormSubmit()">
                <div>
                  <h4>Program Features</h4>
                  <hr>
                </div>
                <div class="form-group">
                  <label>Parental supervision required?</label>
                  <div class="controls">
                    <ng-select
                        [items]="category_List"
                        bindLabel="name"
                        bindValue="_id"
                        placeholder="Select"
                        >
                      </ng-select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="new-password">Early Drop-off/Late Pick-up</label>
                  <div class="controls">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="flexCheckDefault" [(ngModel)]="program_model.earlyDrop_off_LatePick_up.ealryDrop" [ngModelOptions]="{standalone: true}" (change)="getEarlyDrop($event)">
                      <label class="form-check-label" for="flexCheckDefault">
                        Early Drop-off
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="flexCheckChecked" [(ngModel)]="program_model.earlyDrop_off_LatePick_up.lateDrop" [ngModelOptions]="{standalone: true}" (change)="getLateDrop($event)">
                      <label class="form-check-label" for="flexCheckChecked">
                        Late Pick-up
                      </label>
                    </div>
                  </div>
                  <div class="controls" *ngIf="program_model.earlyDrop_off_LatePick_up.ealryDrop">
                    <label>Time for Early Drop-off</label>
                    <input type="time" class="form-control" [(ngModel)]="program_model.earlyDrop_off_LatePick_up.earlyTime" [ngModelOptions]="{standalone: true}" >
                  </div>
                  <div class="controls" *ngIf="program_model.earlyDrop_off_LatePick_up.lateDrop">
                    <label>Time for Late Pick-up</label>
                    <input type="time" class="form-control" [(ngModel)]="program_model.earlyDrop_off_LatePick_up.lateTime" [ngModelOptions]="{standalone: true}" >
                  </div>
                </div>
                <div class="form-group">
                  <label for="retype-new-password">Max Number of students</label>
                  <div class="controls">
                    <ng-select
                      [items]="maxnumber_student_List"
                      bindLabel="name"
                      placeholder="Select"
                      >
                    </ng-select>
                  </div>
                </div>
                <div class="form-group">
                  <label>Capacity</label>
                  <div class="controls">
                    <input type="text" formControlName="programType" class="form-control"
                      placeholder="Program type"
                      [ngClass]="{ 'is-invalid': changePasswordFormSubmitted && cpf.programType.invalid, 'is-valid': changePasswordFormSubmitted && !cpf.programType.invalid }"
                      required>
                    <div
                      *ngIf="changePasswordFormSubmitted && (cpf.programType.invalid || cpf.programType.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is required
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="retype-new-password">Program type</label>
                  <div class="controls">
                    <ng-select
                      [items]="category_List"
                      bindLabel="name"
                      bindValue="_id"
                      placeholder="Select"
                      >
                    </ng-select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="retype-new-password">Private vs Group</label>
                  <div class="controls">
                    <ng-select
                      [items]="category_List"
                      bindLabel="name"
                      bindValue="_id"
                      placeholder="Select"
                      >
                    </ng-select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="retype-new-password">Session Premises</label>
                  <div class="controls">
                    <ng-select
                      [items]="category_List"
                      bindLabel="name"
                      bindValue="_id"
                      placeholder="Select"
                      >
                    </ng-select>
                  </div>
                </div>
                <div class="d-flex flex-sm-row flex-column justify-content-end">
                  <button type="submit" class="btn btn-secondary mr-sm-2 mb-1" (click)="setActiveTab('Program Info')">Previous</button>
                  <button type="reset" class="btn btn-primary mb-1" (click)="setActiveTab('Program Pricing')">Next</button>
                </div>
              </form>
            </div>

            <div class="tab-pane" [ngClass]="{active: activeTab === 'Program Pricing'}" id="Program Pricing" role="tabpanel"
              aria-labelledby="Program Pricing-tab">
              <form [formGroup]="infoForm" (ngSubmit)="onInfoFormSubmit()">
                <div>
                  <h4>Program Pricing</h4>
                  <hr>
                </div>
                  <div class="form-group">
                    <label>Pricing</label>
                    <div class="controls">
                      <ng-select
                        [items]="category_List"
                        bindLabel="name"
                        bindValue="_id"
                        placeholder="Select"
                        >
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group pricing">
                    <div class="d-flex justify-content-between">
                      <h4>Pricing</h4>
                      <button class="btn btn-primary" (click)="openModalForPrice(myModalPrice)">Add</button>
                    </div>
                   
                  </div>
                  <div class="form-group">
                    <label>Offers/Discounts</label>
                    <div class="controls">
                     <textarea name="offersDiscounts" class="form-control" id="offersDiscounts" formControlName="offersDiscounts" cols="30" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Special / Additional Instructions</label>
                    <div class="controls">
                     <textarea name="specialAdditionalInfo" class="form-control" id="specialAdditionalInfo" formControlName="specialAdditionalInfo" cols="30" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Booking Can’t Be Cancelled Before</label>
                    <div class="controls">
                      <input type="text" class="form-control" name="bookingCancel" id="bookingCancel" formControlName="bookingCancel">
                    </div>
                  </div>
                  <div class="d-flex flex-sm-row flex-column justify-content-end">
                    <button type="submit" class="btn btn-secondary mr-sm-2 mb-1" (click)="setActiveTab('Program Features')">Previous</button>
                    <button type="reset" class="btn btn-primary mb-1" (click)="setActiveTab('Program Internal Use')">Next</button>
                  </div>
              </form>
            </div>

            <div class="tab-pane" [ngClass]="{active: activeTab === 'Program Internal Use'}" id="Program Internal Use" role="tabpanel"
              aria-labelledby="Program Internal Use-tab">
              <form [formGroup]="socialForm" (ngSubmit)="onSocialFormSubmit()">
                <div>
                  <h4>Program Internal Use</h4>
                  <hr>
                </div>
                <div class="form-group">
                  <label>Class Schedule link</label>
                  <div class="controls">
                   <textarea name="specialAdditionalInfo" class="form-control" id="specialAdditionalInfo" formControlName="specialAdditionalInfo" cols="30" rows="3"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label>Last Review Date</label>
                  <div class="controls">
                    <input type="date" class="form-control" name="bookingCancel" id="bookingCancel" formControlName="bookingCancel">
                  </div>
                </div>
                <div class="d-flex flex-sm-row flex-column justify-content-end">
                  <button type="submit" class="btn btn-secondary mr-sm-2 mb-1" (click)="setActiveTab('Program Pricing')">Previous</button>
                  <button type="reset" class="btn btn-primary mb-1" (click)="setActiveTab('Activities')">Next</button>
                </div>
              </form>
            </div>

            <div class="tab-pane" [ngClass]="{active: activeTab === 'Activities'}" id="Activities" role="tabpanel"
              aria-labelledby="Activities-tab">
              <form novalidate>
                  <div class="form-group">
                    <label>Instructors</label>
                    <div class="controls">
                      <ng-select
                        [items]="category_List"
                        bindLabel="name"
                        bindValue="_id"
                        placeholder="Select"
                        >
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Online vs In-person</label>
                    <div class="controls">
                      <ng-select
                        [items]="category_List"
                        bindLabel="name"
                        bindValue="_id"
                        placeholder="Select"
                        >
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Is the program open for booking?</label>
                    <div class="controls">
                      <ng-select
                        [items]="category_List"
                        bindLabel="name"
                        bindValue="_id"
                        placeholder="Select"
                        >
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Join Links</label>
                    <input type="text" class="form-control" placeholder="joining links">
                  </div>
                  
                  <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                    <button type="submit" class="btn btn-secondary mr-sm-2 mb-1" (click)="setActiveTab('Program Internal Use')">Previous</button>
                    <button type="button" class="btn btn-primary mr-sm-2 mb-1">Save changes</button>
                  </div>
              </form>
            </div>

            <div class="tab-pane" [ngClass]="{active: activeTab === 'notifications'}" id="notifications" role="tabpanel"
              aria-labelledby="notifications-tab">
              <div class="row">
                <h6 class="col-12 text-bold-400 pl-0">Activity</h6>
                <div class="col-12 mb-2">
                  <div class="custom-control custom-switch custom-control-inline">
                    <input id="switch1" type="checkbox" class="custom-control-input" checked>
                    <label for="switch1" class="custom-control-label">Email me when someone comments on my
                      article</label>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="custom-control custom-switch custom-control-inline">
                    <input id="switch2" type="checkbox" class="custom-control-input" checked>
                    <label for="switch2" class="custom-control-label">Email me when someone answers on my form</label>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="custom-control custom-switch custom-control-inline">
                    <input id="switch3" type="checkbox" class="custom-control-input" disabled>
                    <label for="switch3" class="custom-control-label">Email me when someone follows me</label>
                  </div>
                </div>
                <h6 class="col-12 text-bold-400 pl-0 mt-3">Application</h6>
                <div class="col-12 mb-2">
                  <div class="custom-control custom-switch custom-control-inline">
                    <input id="switch4" type="checkbox" class="custom-control-input" checked>
                    <label for="switch4" class="custom-control-label">News and announcements</label>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="custom-control custom-switch custom-control-inline">
                    <input id="switch5" type="checkbox" class="custom-control-input" disabled>
                    <label for="switch5" class="custom-control-label">Weekly product updates</label>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="custom-control custom-switch custom-control-inline">
                    <input id="switch6" type="checkbox" class="custom-control-input" checked>
                    <label for="switch6" class="custom-control-label">Weekly blog digest</label>
                  </div>
                </div>
                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                  <button type="button" class="btn btn-primary mr-sm-2 mb-1">Save changes</button>
                  <button type="button" class="btn btn-secondary mb-1">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-------- Add Price Popup ------------- -->

<div>
  <ng-template #myModalPrice let-modal>
    <div class="modal-header">
      <h4 class="modal-title" >Add Pricing</h4>
      <button type="button" class="close" (click)="modal.dismiss()">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>No. Of units</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Price Unit</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Price/Hour</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <div class="custom-control custom-switch custom-control-inline">
          <input id="switch1" type="checkbox" class="custom-control-input" >
          <label for="switch1" class="custom-control-label">Set default price</label>
        </div>
      </div>
      <div class="form-group">
        <div class="custom-control custom-switch custom-control-inline">
          <input id="switch1" type="checkbox" class="custom-control-input" >
          <label for="switch1" class="custom-control-label">Is Pricing prorated?</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalService.dismissAll()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="updateAssignTo()">Submit</button>
    </div>
  </ng-template>
</div> 
