<!-- Filter Datatables -->
<section id="ngx-datatable-filter">
  <div class="row">
    <div class="col-12"></div>
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <!-- ngx-datatable-filter -->
            <fieldset class="form-group">
              <div class="row align-items-end mt-0 pagination-body">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-2">
                  <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="40"
                  [footerHeight]="40" rowHeight="auto" [limit]="limitRef" [rows]="rows" [externalPaging]="true"
                  [count]="page.totalPages" [offset]="page.pageNumber" (page)="pageChangeData($event)"></ngx-datatable>
                </div>
                
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 mt-2 mb-1">
                  <div class="row-flex">
                    <div class="col-flex-2 filter">
                    </div>
                    <div class="col-flex-2 mb-1 position-relative">
                      <input id="ngx-filter-ref"
                        class="form-control form-control-sm d-inline-block width-300 ml-1 rounded-right shadow searchInput"
                        type="text" placeholder="Search" #name />
                      <button class="btn search-btn glow position-absolute">
                        <i class="ft-search text-white cursor-pointer"></i>
                      </button>
                    </div>
                    <div class="col-flex-2 mb-1">
                      <button class="btn btn-primary btn-block users-list-clear glow mb-0" (click)="resetFilter()">
                        Reset
                        <i class="ft-filter text-white cursor-pointer"></i>
                      </button>
                    </div>
                    <div class="col-flex-2 mb-1">
                      <button type="reset" class="btn btn-primary btn-block users-list-clear glow mb-0"
                      (click)="openModal(myModalContent,'','')" placement="top" ngbTooltip="Add New">
                        +
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50"
              [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows" [scrollbarH]="true"
              [columns]="columns" [externalPaging]="false" [count]="page.totalPages" [offset]="page.offset"
              (page)="pageChangeData($event)">
              <ngx-datatable-column name="Name" prop="name" [width]="60">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="d-flex align-items-center">
                    <div *ngIf="!row.image" class="avatar mr-1 ml-0 bg-primary">
                      <div class="avatar-content">
                        <span *ngIf="row?.name || row?.fullname">
                          {{ row?.name || row?.fullname| shortName }}
                        </span>
                      </div>
                    </div>
                    <div class="cell-line-height cursor-pointer">
                      <p class="font-medium-1 line-height-1 mb-0">
                        {{ row?.name || row?.fullname }}
                      </p>
                      <div class="mt-2">
                        <p [matMenuTriggerFor]="task_status">
                          <span class="cursor-pointer" *ngIf="row?.status == 'completed'" [ngClass]="{'badge badge-pill bg-light-success':row?.status == 'completed'}">{{row?.status}}
                          </span>
                          <span class="cursor-pointer" *ngIf="row?.status == 'open'" [ngClass]="{'badge badge-pill bg-light-success':row?.status == 'open'}">{{row?.status}}
                          </span>
                          <span class="cursor-pointer" *ngIf="row?.status == 'rejected'" [ngClass]="{'badge badge-pill bg-light-danger':row?.status == 'rejected'}">{{row?.status}}
                          </span>
                          <span class="cursor-pointer" *ngIf="row?.status == 'in-review'" [ngClass]="{'badge-pill bg-light-warning':row?.status == 'in-review'}">{{row?.status}}
                          </span>
                        </p>
                        <mat-menu #task_status="matMenu">
                          <div *ngFor="let status of task_list">
                            <button mat-menu-item *ngIf="status?.name !== row?.status"
                              (click)="updateStatus(row?._id,status.name)">
                              <span>
                              <span class="my-1" [ngClass]="{'bg-light-success badge badge-pill':status.name === 'open'}"
                                placement="top" *ngIf="status.name === 'open'">{{status.name}}</span>
                                <span class="my-1" [ngClass]="{'bg-light-success badge badge-pill':status.name === 'completed'}"
                                placement="top" *ngIf="status.name === 'completed'">{{status.name}}</span>
                              <span class="my-1" [ngClass]="{'bg-light-warning badge badge-pill':status.name === 'in-review'}"
                                placement="top" *ngIf="status.name === 'in-review'">{{status.name}}</span>
                              <span class="my-1" [ngClass]="{'bg-light-danger badge badge-pill':status.name === 'rejected'}"
                                placement="top"
                                *ngIf="status.name === 'rejected'">{{status.name}}</span>
                              </span>
                            </button>
                            </div>
                        </mat-menu>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Task Type" prop="task_type" [width]="80">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <p class="cursor-pointer" (click)="openModalTaskType(myModalTaskType,row,row?._id,row?.task_type)">{{row?.task_type}}</p> 
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Task Assign" prop="user" [width]="10">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <p class="cursor-pointer" (click)="openModalForAssignTo(myModalAssignTo,row?.user[0]?._id,row?._id,'Task Assign')">{{row?.user[0]?.fullname}}</p>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Task Review" prop="reviewUserId" [width]="10">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <p class="cursor-pointer" (click)="openModalForAssignTo(myModalAssignTo,row?.reviewUserId[0]?._id,row?._id,'Task Review')">{{row?.reviewUserId[0]?.fullname}}</p>
                </ng-template>
              </ngx-datatable-column>
              <!-- <ngx-datatable-column name="Status" prop="name" [width]="10">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>

                  <p [matMenuTriggerFor]="task_status">
                    <span class="cursor-pointer" *ngIf="row?.status == 'completed'" [ngClass]="{'badge badge-pill bg-light-success':row?.status == 'completed'}">{{row?.status}}
                    </span>
                    <span class="cursor-pointer" *ngIf="row?.status == 'open'" [ngClass]="{'badge badge-pill bg-light-success':row?.status == 'open'}">{{row?.status}}
                    </span>
                    <span class="cursor-pointer" *ngIf="row?.status == 'rejected'" [ngClass]="{'badge badge-pill bg-light-danger':row?.status == 'rejected'}">{{row?.status}}
                    </span>
                    <span class="cursor-pointer" *ngIf="row?.status == 'in-review'" [ngClass]="{'badge-pill bg-light-warning':row?.status == 'in-review'}">{{row?.status}}
                    </span>
                  </p>
                  <mat-menu #task_status="matMenu">
                    <div *ngFor="let status of task_list">
                      <button mat-menu-item *ngIf="status?.name !== row?.status"
                        (click)="updateStatus(row?._id,status.name)">
                        <span>
                        <span class="my-1" [ngClass]="{'bg-light-success badge badge-pill':status.name === 'open'}"
                          placement="top" *ngIf="status.name === 'open'">{{status.name}}</span>
                          <span class="my-1" [ngClass]="{'bg-light-success badge badge-pill':status.name === 'completed'}"
                          placement="top" *ngIf="status.name === 'completed'">{{status.name}}</span>
                        <span class="my-1" [ngClass]="{'bg-light-warning badge badge-pill':status.name === 'in-review'}"
                          placement="top" *ngIf="status.name === 'in-review'">{{status.name}}</span>
                        <span class="my-1" [ngClass]="{'bg-light-danger badge badge-pill':status.name === 'rejected'}"
                          placement="top"
                          *ngIf="status.name === 'rejected'">{{status.name}}</span>
                        </span>
                      </button>
                      </div>
                  </mat-menu>

                </ng-template>
              </ngx-datatable-column> -->
              <!-- <ngx-datatable-column name="Country" prop="country" [width]="70">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="cell-line-height">
                    {{ row?.country}}
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="State" prop="state" [width]="70">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="cell-line-height">
                    {{ row?.state}}
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Zip Code" prop="zipcode" [width]="70">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="cell-line-height">
                    {{ row?.zipcode}}
                  </div>
                </ng-template>
              </ngx-datatable-column> -->
              <ngx-datatable-column name="Actions" [width]="50">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <ng-container *ngIf="row.task_type === 'Please proofread the given add and missing details in this form'; else otherCondition">
                    <!-- Content for Condition1 -->
                    <i class="ft-plus text-primary cursor-pointer mx-1" placement="top" ngbTooltip="advance data" (click)="openModalForProvider(myModalContentProvider,row?._id,row ,'advance data')"></i>
                </ng-container>
                <ng-template #otherCondition>
                    <!-- Content for other conditions -->
                    <i class="ft-plus text-primary cursor-pointer mx-1" placement="top" ngbTooltip="basic data" (click)="openModalForProvider(myModalContentProvider,row?._id,row,'basic data')"></i>
                </ng-template>
                  <!-- <span>
                    <i *ngIf="row.task_type.trim() ==='Please proofread the given add and missing details in this form'" class="ft-plus text-primary cursor-pointer mx-1" placement="top" ngbTooltip="advance data"
                    (click)="openModalForProvider(myModalContentProvider,row?._id,row)"></i>
                  </span>
                  <span>
                    <i *ngIf="row.task_type.trim() ==='Please add any missing data for email, phone, and locations for this form and Please proofread the business name, email, phone, and locations to ensure their correctness on this form'" class="ft-plus text-primary cursor-pointer mx-1" placement="top" ngbTooltip="basic data" (click)="openModalForProvider(myModalContentProvider,row?._id,row)"></i>
                  </span> -->
                  <i class="ft-edit text-primary cursor-pointer mx-1"
                  (click)="openModal(myModalContent,row?._id,row)"></i>
                  <i class="ft-trash-2 cursor-pointer danger mx-1"
                    (click)="confirmDelete(row._id)"></i>
                  <i class="ft-eye text-primary cursor-pointer mx-1"
                  (click)="openModalView(myModalContentView,row)"></i>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <!-- ngx-datatable-filter -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Filter Datatables -->
<div class="d-flex justify-content-between align-items-center">
  <ngx-spinner></ngx-spinner>
</div>
<!----- Add City / Update City popup  --------->

<div>
	<ng-template #myModalContent>
	  <div class="modal-header">
		<h4 class="modal-title" *ngIf="row_id">{{row_name}}'s Update</h4>
    <h4 class="modal-title" *ngIf="!row_id">Add New Task</h4>
		<button type="button" class="close" aria-label="Close" (click)="modalService.dismissAll()">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
          <form [formGroup]="taskForm">
            <fieldset class="form-group">
              <label>Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="fullname" [(ngModel)]="task_model.fullname"
                id="name"
                placeholder="Enter name"
                [ngClass]="{
                  'is-invalid': taskFormSubmitted && rf.fullname.invalid,
                  'is-valid': taskFormSubmitted && !rf.fullname.invalid
                }"
                required
                #fullname
              />
              <div
                *ngIf="rf.fullname.touched && rf.fullname.errors?.required"
                class="help-block mt-1 text-danger"
              >
                <i class="ft-alert-circle align-middle"></i> name is
                required
              </div>
            </fieldset>
            <!-- <fieldset class="form-group">
              <label>description</label>
              <textarea name="description" class="form-control" formControlName="description" [(ngModel)]="task_model.description" id="description" cols="30" rows="3"></textarea>
            </fieldset> -->
            <fieldset class="form-group">
              <label>Notes</label>
              <textarea name="notes" class="form-control" formControlName="notes" [(ngModel)]="task_model.notes" id="notes" cols="30" rows="3"></textarea>
            </fieldset>
            <fieldset class="form-group">
              <label>Admin Notes</label>
              <textarea name="admin_notes" class="form-control" formControlName="admin_notes" [(ngModel)]="task_model.admin_notes" id="admin_notes" cols="30" rows="3"></textarea>
            </fieldset>
            <!-- <fieldset class="form-group">
              <label>Working Hour</label>
              <input
                type="text"
                class="form-control"
                formControlName="working_hour" [(ngModel)]="task_model.working_hour"
                id="working_hour"
                placeholder="Enter working hour"
              />
            </fieldset>
            <fieldset class="form-group">
              <label>budget</label>
              <input
                type="text"
                class="form-control"
                formControlName="budget" [(ngModel)]="task_model.budget"
                id="budget"
                placeholder="Enter budget"
              />
            </fieldset> -->
          </form>
       
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modalService.dismissAll()">Close</button>
		<button type="button" class="btn btn-primary" (click)="addTask()">Submit</button>
	  </div>
	</ng-template>
</div>

<!----- Task Details Popup  --------->

<div>
	<ng-template #myModalContentView>
	  <div class="modal-header">
		<h4 class="modal-title" >{{row_data?.fullname}}'s Details</h4>
		<button type="button" class="close" aria-label="Close" (click)="modalService.dismissAll()">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
         <table>
          <div>
            <th>Name &nbsp;</th>
            <td>{{row_data?.fullname}}</td>
          </div>
          <div>
            <th>Task Date &nbsp;</th>
            <td>{{row_data?.updated_at | date:'mediumDate'}}</td>
          </div>
          <!-- <div>
            <th>Description &nbsp;</th>
            <td [innerText]="row_data?.description"></td>
          </div>
          <div>
            <th>Budget &nbsp;</th>
            <td>{{row_data?.budget}}</td>
          </div>
          <div>
            <th>Working Hour &nbsp;</th>
            <td>{{row_data?.working_hour}}</td>
          </div> -->
          <div>
            <th>Notes &nbsp;</th>
            <td [innerText]="row_data?.notes"></td>
          </div>
          <div>
            <th>Admin Notes &nbsp;</th>
            <td [innerText]="row_data?.admin_notes"></td>
          </div>
        </table>

      </div>
      <!-- <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalService.dismissAll()">Close</button>
      <button type="button" class="btn btn-primary" (click)="addCity()">Submit</button>
      </div> -->
    </ng-template>
</div>

<!-------- Assign To Update Popup ------------- -->


<div>
  <ng-template #myModalAssignTo let-modal>
    <div class="modal-header">
      <h4 class="modal-title" >{{task_users}} update</h4>
      <button type="button" class="close" (click)="modal.dismiss()">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ng-select [items]="users_list" bindLabel="fullname" bindValue="_id" placeholder="Select User"
        [(ngModel)]="selected_user" [ngModelOptions]="{ standalone: true }"
        (change)="getSelectedUserId($event)" [appendTo]="'body'" [virtualScroll]="true" [clearSearchOnAdd]="true">
      </ng-select>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalService.dismissAll()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="updateAssignTo()">Submit</button>
    </div>
  </ng-template>
</div>

<!-------- Task Type Popup ------------- -->


<div>
  <ng-template #myModalTaskType let-modal>
    <div class="modal-header">
      <h4 class="modal-title" *ngIf="taskType ==='missing data' && provider_data_missing || provider_data_missing === undefined">Missing Data</h4>
      <h4 class="modal-title" *ngIf="taskType ==='review data' && provider_data_review">Review Data</h4>

      <button type="button" class="close" (click)="modal.dismiss()">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="taskType ==='missing data' && provider_data_missing">
        <div *ngFor="let key of getObjectKeys(provider_data_missing)">
          <label for="{{ key }}">{{ key }}</label>
          <input class="form-control" type="text" id="{{ key }}" name="{{ key }}" [(ngModel)]="provider_data_missing[key]" required>
        </div>
      </div>
      <div *ngIf="taskType ==='missing data' && provider_data_missing === undefined">
        There is no missing data!
      </div>
      <div *ngIf="taskType ==='review data' && provider_data_review">
        <div *ngFor="let key of getObjectKeys(provider_data_review)">
          <div *ngIf="key !== 'location' && key !== 'websiteUrl' && key !== 'roles' && key !== 'password'">
            <label for="{{ key }}">{{ key }}</label>
            <input class="form-control" type="text" id="{{ key }}" name="{{ key }}" [(ngModel)]="provider_data_review[key]" required>
          </div>
        </div>
          
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalService.dismissAll()">Cancel</button>
      <button *ngIf="taskType ==='missing data'" type="button" class="btn btn-primary" (click)="updateMissingProvider()">Submit</button>
      <button *ngIf="taskType ==='review data'" type="button" class="btn btn-primary" (click)="updateReviewProvider()">Submit</button>

    </div>
  </ng-template>
</div>
<!-- =======================  provider info ===================================== -->
<div>
	<ng-template #myModalContentProvider>
	  <div class="modal-header">
    <h4 class="modal-title">Add Provider</h4>
		<button type="button" class="close" aria-label="Close" (click)="closeModal()">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
            <fieldset class="form-group" *ngIf="data_prop == 'basic data' || data_prop == 'advance data' ">
              <label>Name</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.fullname"
                id="name"
                placeholder="Enter name"
                [ngClass]="{
                  'is-invalid': !provider.fullname,
                  'is-valid': provider.fullname
                }"
                required
                #name
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop == 'basic data' || data_prop == 'advance data'">
              <label>Email</label>
              <input
                type="email"
                class="form-control"
                 [(ngModel)]="provider.email"
                id="email"
                placeholder="Enter email"
                [ngClass]="{
                  'is-invalid': !provider.email,
                  'is-valid': provider.email
                }"
                required
                #email
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop == 'basic data' || data_prop == 'advance data'">
              <label>Phone number</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.phone_number"
                id="phone_number"
                placeholder="Enter phone"
                [ngClass]="{
                  'is-invalid': !provider.phone_number,
                  'is-valid': provider.phone_number
                }"
                required
                #phone_number
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop == 'basic data' || data_prop == 'advance data'">
              <label>Address</label>
              <input
                type="text"
                class="form-control"
                appGoogleAddress
                autocomplete="off"
                (onSelect)="setAddress($event)"
                 [(ngModel)]="provider.address"
                id="address"
                placeholder="Enter address"
                [ngClass]="{
                  'is-invalid': !provider.address,
                  'is-valid': provider.address
                }"
                required
                #address
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop !== 'basic data'">
              <label>Average Google Rating</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.averageGoogleRating"
                id="averageGoogleRating"
                placeholder="Enter Average Google Rating"
                [ngClass]="{
                  'is-invalid': !provider.averageGoogleRating,
                  'is-valid': provider.averageGoogleRating
                }"
                required
                #averageGoogleRating
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop !== 'basic data'">
              <label>Average Yelp Rating</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.averageYelpRating"
                id="averageYelpRating"
                placeholder="Enter Average Yelp Rating"
                [ngClass]="{
                  'is-invalid': !provider.averageYelpRating,
                  'is-valid': provider.averageYelpRating
                }"
                required
                #averageYelpRating
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop !== 'basic data'">
              <label>Bottom Google Reviews</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.bottomGoogleReviews"
                id="bottomGoogleReviews"
                placeholder="Enter Bottom Google Reviews"
                [ngClass]="{
                  'is-invalid': !provider.bottomGoogleReviews,
                  'is-valid': provider.bottomGoogleReviews
                }"
                required
                #bottomGoogleReviews
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop !== 'basic data'">
              <label>Facebook Number Of Followers</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.facebookNumberOfFollowers"
                id="facebookNumberOfFollowers"
                placeholder="Enter Facebook Number Of Followers"
                [ngClass]="{
                  'is-invalid': !provider.facebookNumberOfFollowers,
                  'is-valid': provider.facebookNumberOfFollowers
                }"
                required
                #facebookNumberOfFollowers
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop !== 'basic data'">
              <label>Facebook Number Of Likes</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.facebookNumberOfLikes"
                id="facebookNumberOfLikes"
                placeholder="Enter Facebook Number Of Likes"
                [ngClass]="{
                  'is-invalid': !provider.facebookNumberOfLikes,
                  'is-valid': provider.facebookNumberOfLikes
                }"
                required
                #facebookNumberOfLikes
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop !== 'basic data'">
              <label>Facebook URL</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.facebookURL"
                id="facebookURL"
                placeholder="Enter Facebook URL"
                [ngClass]="{
                  'is-invalid': !provider.facebookURL,
                  'is-valid': provider.facebookURL
                }"
                required
                #facebookURL
              />
            </fieldset>

            <fieldset class="form-group" *ngIf="data_prop !== 'basic data'">
              <label>Google Reviews URL</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.googleReviewsURL"
                id="googleReviewsURL"
                placeholder="Enter Google Reviews URL"
                [ngClass]="{
                  'is-invalid': !provider.googleReviewsURL,
                  'is-valid': provider.googleReviewsURL
                }"
                required
                #googleReviewsURL
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop !== 'basic data'">
              <label>Instagram Profile Link</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.instagramProfileLink"
                id="instagramProfileLink"
                placeholder="Enter Instagram Profile Link"
                [ngClass]="{
                  'is-invalid': !provider.instagramProfileLink,
                  'is-valid': provider.instagramProfileLink
                }"
                required
                #instagramProfileLink
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop !== 'basic data'">
              <label>Most Recent Google Reviews</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.mostRecentGoogleReviews"
                id="mostRecentGoogleReviews"
                placeholder="Enter Most Recent Google Reviews"
                [ngClass]="{
                  'is-invalid': !provider.mostRecentGoogleReviews,
                  'is-valid': provider.mostRecentGoogleReviews
                }"
                required
                #mostRecentGoogleReviews
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop !== 'basic data'">
              <label>Number Of Google Reviews</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.numberOfGoogleReviews"
                id="numberOfGoogleReviews"
                placeholder="Enter Number Of Google Reviews"
                [ngClass]="{
                  'is-invalid': !provider.numberOfGoogleReviews,
                  'is-valid': provider.numberOfGoogleReviews
                }"
                required
                #numberOfGoogleReviews
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop !== 'basic data'">
              <label>Number Of Instagram Followers</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.numberOfInstagramFollowers"
                id="numberOfInstagramFollowers"
                placeholder="Enter Number Of Instagram Followers"
                [ngClass]="{
                  'is-invalid': !provider.numberOfInstagramFollowers,
                  'is-valid': provider.numberOfInstagramFollowers
                }"
                required
                #numberOfInstagramFollowers
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop !== 'basic data'">
              <label>Number Of Yelp Ratings</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.numberOfYelpRatings"
                id="numberOfYelpRatings"
                placeholder="Enter Number Of Yelp Ratings"
                [ngClass]="{
                  'is-invalid': !provider.numberOfYelpRatings,
                  'is-valid': provider.numberOfYelpRatings
                }"
                required
                #numberOfYelpRatings
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop !== 'basic data'">
              <label>Top Google Reviews</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.topGoogleReviews"
                id="topGoogleReviews"
                placeholder="Enter Top Google Reviews"
                [ngClass]="{
                  'is-invalid': !provider.topGoogleReviews,
                  'is-valid': provider.topGoogleReviews
                }"
                required
                #topGoogleReviews
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop !== 'basic data'">
              <label>Yelp Bottom Reviews</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.yelpBottomReviews"
                id="yelpBottomReviews"
                placeholder="Enter Yelp Bottom Reviews"
                [ngClass]="{
                  'is-invalid': !provider.yelpBottomReviews,
                  'is-valid': provider.yelpBottomReviews
                }"
                required
                #yelpBottomReviews
              />
            </fieldset>
            <fieldset class="form-group"*ngIf="data_prop !== 'basic data'">
              <label>Yelp Most Recent Reviews</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.yelpMostRecentReviews"
                id="yelpMostRecentReviews"
                placeholder="Enter Yelp Most Recent Reviews"
                [ngClass]="{
                  'is-invalid': !provider.yelpMostRecentReviews,
                  'is-valid': provider.yelpMostRecentReviews
                }"
                required
                #yelpMostRecentReviews
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop !== 'basic data'">
              <label>Yelp Top Reviews</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.yelpTopReviews"
                id="yelpTopReviews"
                placeholder="Enter Yelp Top Reviews"
                [ngClass]="{
                  'is-invalid': !provider.yelpTopReviews,
                  'is-valid': provider.yelpTopReviews
                }"
                required
                #yelpTopReviews
              />
            </fieldset>
            <fieldset class="form-group" *ngIf="data_prop !== 'basic data'">
              <label>Yelp Profile URL</label>
              <input
                type="text"
                class="form-control"
                 [(ngModel)]="provider.yelpProfileURL"
                id="yelpProfileURL"
                placeholder="Enter Yelp Profile URL"
                [ngClass]="{
                  'is-invalid': !provider.yelpProfileURL,
                  'is-valid': provider.yelpProfileURL
                }"
                required
                #yelpProfileURL
              />
            </fieldset>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
		<button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
	  </div>
	</ng-template>
</div>
